.inverted {
  -webkit-filter: invert(100%) !important;
  filter: invert(100%) !important; }

.left {
  float: left; }

.right {
  float: right; }

.btn > [class^="mdi-"] {
  line-height: .7em;
  vertical-align: middle;
  margin-left: -25px;
  margin-right: 5px; }

[class^='toolbar'] {
  width: 80px;
  position: absolute; }
  [class^='toolbar'] .btn {
    width: 80px;
    height: 80px;
    padding: 15px;
    margin: 0;
    border: 0px solid rgba(0, 0, 0, 0.2);
    border-bottom-width: 1px; }

.toolbar-top {
  top: 0; }

.toolbar-bottom {
  bottom: 0; }
  .toolbar-bottom .btn:first-child {
    border-top-width: 1px; }

body,
.page {
  height: 100%; }

.content {
  position: absolute;
  height: 100%;
  margin-left: 80px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  width: calc(100% - 80px); }

note-list {
  display: inline-block;
  width: 400px; }

note-preview {
  position: absolute;
  height: calc(100% - 40px);
  width: calc(100% - 400px);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  overflow-y: scroll; }

note-list .list-group > .list-group-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 0; }
  note-list .list-group > .list-group-item.selected {
    background: #fff;
    margin-right: -1px;
    z-index: 1; }
    note-list .list-group > .list-group-item.selected .row-action-primary {
      padding-right: 1px; }
  note-list .list-group > .list-group-item.no-items .list-group-item-heading {
    color: #999;
    font-style: italic; }
  note-list .list-group > .list-group-item .row-content {
    min-height: 55px; }
  note-list .list-group > .list-group-item .list-group-item-heading {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    margin-top: 8px; }
    note-list .list-group > .list-group-item .list-group-item-heading > i {
      font-size: 14px;
      margin-right: 5px;
      color: teal; }
  note-list .list-group > .list-group-item .list-group-item-text {
    margin-bottom: 5px; }
  note-list .list-group > .list-group-item .row-action-primary {
    float: right;
    padding-top: 0;
    padding-right: 0; }
    note-list .list-group > .list-group-item .row-action-primary > i {
      height: 55px;
      line-height: 55px;
      background: none;
      color: inherit; }

.note-preview-content {
  background: #fff;
  padding: 5px 30px;
  min-height: 100%;
  overflow: auto; }

.starred-title-icon {
  color: #ddd; }
  .starred-title-icon:hover {
    color: #aaa; }
  .starred-title-icon.active {
    color: teal; }

text-angular .btn-toolbar > .btn-group {
  margin-bottom: -5px; }
  text-angular .btn-toolbar > .btn-group:last-child {
    margin-bottom: 5px; }

.nav-tabs > li {
  border-bottom: 6px solid rgba(255, 255, 255, 0);
  height: 40px; }
  .nav-tabs > li.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 6px solid rgba(255, 255, 255, 0.5);
    transition: background-color .1s .2s linear, border-color .5s linear; }
  .nav-tabs > li .add-subject {
    padding-left: 10px;
    padding-right: 10px; }
    .nav-tabs > li .add-subject > i {
      padding-top: 0;
      margin-top: -4px; }

.user-profile input[type="checkbox"] {
  width: 24px; }

.angularjs-bootstrap-tagsinput [data-role=tags] {
  margin-left: 2px;
  overflow-y: auto;
  display: inline; }
  .angularjs-bootstrap-tagsinput [data-role=tags] [data-role=tag] {
    float: left;
    margin: 3px 2px 0 0;
    font-size: 100%; }
  .angularjs-bootstrap-tagsinput [data-role=tags] [data-role=remove] {
    margin-left: 3px;
    cursor: pointer; }
  .angularjs-bootstrap-tagsinput [data-role=tags] [data-role=remove]:after {
    padding: 0;
    content: "x"; }
  .angularjs-bootstrap-tagsinput [data-role=tags] [data-role=remove]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 5px 2px rgba(0, 0, 0, 0.05); }
  .angularjs-bootstrap-tagsinput [data-role=tags] [data-role=remove]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.angularjs-bootstrap-tagsinput [data-role=tagsinput-message] {
  display: none;
  padding: 0 5px;
  margin-top: 5px;
  color: orange; }
.angularjs-bootstrap-tagsinput .tagsinput {
  display: inline-block; }
.angularjs-bootstrap-tagsinput .tagsinput [data-role=tagsinput]:focus {
  border: none;
  box-shadow: none; }
.angularjs-bootstrap-tagsinput .tagsinput [data-role=tagsinput].tagsinput-invalid {
  color: #ff0000; }

/*# sourceMappingURL=site.css.map */
