doctype html
html(lang="en", ng-app="app", ng-class="{'inverted': inverted}")
    //, manifest="/cache.manifest")
    head
        title NotesCMS
        link(href="favicon.ico", rel="icon", type="image/x-icon")
        //
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/bootstrap-material-design/dist/css/material.min.css")
        //
        link(rel="stylesheet", href="/dest/min/all.min.css")
        
    body
        layout.main(inverted="inverted") Loading...
        .scripts
            script(src="/vendor/jquery/dist/jquery.min.js")
            script(src="/vendor/angularjs/angular.min.js")
            //
            script(src="/dest/min/libs.min.js")
            script(src="/dest/min/app.min.js")
            //
            script
                | Leftovers = [
                |   '/vendor/font-awesome/css/font-awesome.css',
                |   '/vendor/textAngular/dist/textAngular.css',
                |   '/dest/styles/webfonts.css'
                | ]
            script(src="/dest/app/utils/loadLeftovers.js", async)
            