ul.nav.nav-tabs(style='margin-bottom: 15px;')
	li.active
		a(href='#home', data-toggle='tab') Home
	li
		a(href='#profile', data-toggle='tab') Profile
	li.disabled
		a Disabled
	li.dropdown
		a.dropdown-toggle(data-toggle='dropdown', href='bootstrap-elements.html', data-target='#')
			| Dropdown 
			span.caret
		ul.dropdown-menu
			li
				a(href='#dropdown1', data-toggle='tab') Action
			li.divider
			li
				a(href='#dropdown2', data-toggle='tab') Another action
