ul.nav.nav-tabs
	li(
		ng-repeat="item in items"
		ng-click="select(item)"
		ng-class="{ 'active': item === selected }"
	)
		a(href='#{{item.name}}') {{item.name}}
	li
		a.add-subject
			i.mdi-content-add