$banner-height: 120px;
$toolbar-width: 80px;
$note-list-width: 400px;
$note-listitem-height: 55px;
$note-listitem-heading-size: 16px;
$subject-tabs-height: 40px;

$std-border-color: rgba(0,0,0,.2);
$std-border: 1px solid $std-border-color;
$selection-color: rgba(0,0,0,.2);

@import './partials/utils';
@import './partials/banner';
@import './partials/toolbar';
@import './partials/layout';
@import './partials/note-list';
@import './partials/note-preview';
@import './partials/subject-tabs';
@import './partials/user-profile';
@import './partials/custom-tagsinput';

// Leftovers
@import './partials/print';
