body,
.page {
	height: 100%;
	text-shadow: 0 0 2px rgba(0,0,0,.15);
	-webkit-font-smoothing: subpixel-antialiased;
}

.content {
	position: absolute;
	height: 100%;
	margin-left: $toolbar-width;
	border-left: $std-border;
	width: calc(100% - #{$toolbar-width});
}


note-list {
	display: inline-block;
	width: $note-list-width;
}

note-preview {
	position: absolute;
	height: calc(100% - #{$subject-tabs-height});
	width: calc(100% - #{$note-list-width});
	border-left: $std-border;
	overflow-y: scroll;
	top: $subject-tabs-height;
	left: $note-list-width;
}

.offline-ui.offline-ui { // override
	left: initial;
  	right: 20px;
	border-radius: 0;
    padding: 2px 8px 2px 5px;
	text-transform: uppercase;
	font-size: 8pt;
	background-color: #fff;
}