
.note-preview-content {
	background: #fff;
	padding: 5px 30px;
	min-height: 100%;
	overflow: auto;
}

.starred-title-icon {
	color: #ddd;
	
	&:hover {
		color: #aaa;
	}
	
	&.active {
		color: teal;
	}
}

text-angular .btn-toolbar > .btn-group {
	margin-bottom: -5px;
	
	&:last-child {
		margin-bottom: 5px;
	}
}