
.nav-tabs > li {
	border-bottom: 6px solid rgba(255,255,255,.0);
	height: $subject-tabs-height;
	
	&.active {
		background-color: rgba(255,255,255,.2);
		border-bottom: 6px solid rgba(255,255,255,.5);
		transition: background-color .1s .2s linear, border-color .5s linear;
	}
	
	.add-subject {
		padding-left: 10px;
		padding-right: 10px;
	
		> i {
			padding-top: 0;
			margin-top: -4px;
		}
	}
}