.inverted {
	-webkit-filter: invert(100%)!important;
	filter: invert(100%)!important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.btn > [class^="mdi-"] {
	line-height: .7em;
	vertical-align: middle;
	margin-left: -25px;
	margin-right: 5px;
}